
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    background-color: #f3f3f3;
    padding: 0.6rem;
    gap: 2rem;
  
   i {
    font-size: 3rem;
  }
  
  .resto h1 {
    font-size: 6rem;
  }
  
   h2 {
    font-size: 3rem;
    margin-top: 2rem;
  }

 .resto h1{
     font-size: 6rem;
 }
}

.resto h1{
    font-size: 6rem;
}

